<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!DOCTYPE j8583-config[
        <!ELEMENT j8583-config ( header*, template*, parse* ) >

        <!ELEMENT header ( #PCDATA ) >
        <!ATTLIST header type NMTOKEN #REQUIRED >
        <!ATTLIST header ref NMTOKEN #IMPLIED >

        <!ELEMENT template ( field* ) >
        <!ATTLIST template type NMTOKEN #REQUIRED >
        <!ATTLIST template extends NMTOKEN #IMPLIED >

        <!ELEMENT parse ( field+ ) >
        <!ATTLIST parse type NMTOKEN #REQUIRED >
        <!ATTLIST parse extends NMTOKEN #IMPLIED >

        <!ELEMENT field ( #PCDATA|field )* >
        <!ATTLIST field num NMTOKEN #REQUIRED >
        <!ATTLIST field length NMTOKEN #IMPLIED >
        <!ATTLIST field type ( ALPHA | NUMERIC | AMOUNT | DATE10 | DATE4 | DATE_EXP | TIME | LLVAR | LLLVAR | LLLLVAR | BINARY | LLBIN | LLLBIN | exclude) #REQUIRED >
        ]>

<j8583-config>
    <!-- These are the ISO headers to be prepended to the message types specified -->

    <header type="0200">ISO015000050</header>
    <header type="0210">ISO015000055</header>
    <header type="0400">ISO015000050</header>
    <header type="0410">ISO015000055</header>
    <header type="0800">ISO015000015</header>
    <header type="0810">ISO015000015</header>

    <parse type="0100">
        <field num="2" type="LLVAR" length="19"/>
        <field num="3" type="ALPHA" length="6"/>
        <field num="4" type="ALPHA" length="12"/>
        <field num="5" type="ALPHA" length="12"/>
        <field num="6" type="ALPHA" length="12"/>
        <field num="7" type="ALPHA" length="10"/>
        <field num="8" type="ALPHA" length="8"/>
        <field num="9" type="ALPHA" length="8"/>
        <field num="10" type="ALPHA" length="8"/>
        <field num="11" type="ALPHA" length="6"/>
        <field num="12" type="ALPHA" length="6"/>
        <field num="13" type="ALPHA" length="4"/>
        <field num="14" type="ALPHA" length="4"/>
        <field num="15" type="ALPHA" length="6"/>
        <field num="16" type="ALPHA" length="4"/>
        <field num="17" type="ALPHA" length="4"/>
        <field num="18" type="ALPHA" length="4"/>
        <field num="19" type="ALPHA" length="3"/>
        <field num="20" type="ALPHA" length="3"/>
        <field num="21" type="ALPHA" length="3"/>
        <field num="22" type="ALPHA" length="3"/>
        <field num="23" type="ALPHA" length="3"/>
        <field num="24" type="ALPHA" length="3"/>
        <field num="25" type="ALPHA" length="2"/>
        <field num="26" type="ALPHA" length="2"/>
        <field num="27" type="ALPHA" length="1"/>
        <field num="28" type="ALPHA" length="9"/>
        <field num="29" type="ALPHA" length="9"/>
        <field num="30" type="ALPHA" length="9"/>
        <field num="31" type="ALPHA" length="9"/>
        <field num="32" type="LLVAR" length="11"/>
        <field num="33" type="LLVAR" length="11"/>
        <field num="34" type="LLVAR" length="28"/>
        <field num="35" type="LLVAR" length="37"/>
        <field num="36" type="LLLVAR" length="104"/>
        <field num="37" type="ALPHA" length="12"/>
        <field num="38" type="ALPHA" length="6"/>
        <field num="39" type="ALPHA" length="2"/>
        <field num="40" type="ALPHA" length="3"/>
        <field num="41" type="ALPHA" length="8"/>
        <field num="42" type="ALPHA" length="15"/>
        <field num="43" type="ALPHA" length="40"/>
        <field num="44" type="LLVAR" length="25"/>
        <field num="45" type="LLVAR" length="76"/>
        <field num="46" type="LLLVAR" length="999"/>
        <field num="47" type="LLLVAR" length="999"/>
        <field num="48" type="LLLVAR" length="999"/>
        <field num="49" type="ALPHA" length="3"/>
        <field num="50" type="ALPHA" length="3"/>
        <field num="51" type="ALPHA" length="3"/>
        <field num="52" type="ALPHA" length="16"/>
        <field num="53" type="ALPHA" length="96"/>
        <field num="54" type="LLLVAR" length="120"/>
        <field num="55" type="LLLVAR" length="999"/>
        <field num="56" type="LLLVAR" length="999"/>
        <field num="57" type="LLLVAR" length="999"/>
        <field num="58" type="LLLVAR" length="999"/>
        <field num="59" type="LLLVAR" length="999"/>
        <field num="60" type="LLLVAR" length="999"/>
        <field num="61" type="LLLVAR" length="999"/>
        <field num="62" type="LLLVAR" length="999"/>
        <field num="63" type="LLLVAR" length="999"/>
        <field num="64" type="ALPHA" length="64"/>
        <field num="90" type="ALPHA" length="42"/>
        <field num="95" type="ALPHA" length="42"/>
        <field num="102" type="LLVAR" length="28"/>
        <field num="103" type="LLVAR" length="28"/>
        <field num="123" type="LLLVAR" length="15"/>
        <field num="128" type="ALPHA" length="64"/>
    </parse>

    <parse type="0110">
        <field num="2" type="LLVAR"/>
        <field num="3" type="NUMERIC" length="6"/>
        <field num="4" type="ALPHA" length="12"/>
        <field num="7" type="ALPHA" length="10"/>
        <field num="11" type="NUMERIC" length="6"/>
        <field num="12" type="ALPHA" length="6"/>
        <field num="13" type="ALPHA" length="4"/>
        <field num="14" type="NUMERIC" length="4"/>
        <field num="15" type="DATE4"/>
        <field num="17" type="DATE_EXP"/>
        <field num="18" type="ALPHA" length="4"/>
        <field num="22" type="ALPHA" length="3"/>
        <field num="23" type="ALPHA" length="3"/>
        <field num="25" type="ALPHA" length="2"/>
        <field num="26" type="NUMERIC" length="2"/>
        <field num="28" type="ALPHA" length="9"/>
        <field num="30" type="ALPHA" length="9"/>
        <field num="31" type="ALPHA" length="9"/>
        <field num="32" type="LLVAR" length="11"/>
        <field num="33" type="LLVAR" length="11"/>
        <field num="34" type="LLVAR" length="28"/>
        <field num="35" type="LLVAR" length="37"/>
        <field num="36" type="LLLVAR" length="104"/>
        <field num="37" type="ALPHA" length="12"/>
        <field num="38" type="ALPHA" length="6"/>
        <field num="39" type="ALPHA" length="2"/>
        <field num="40" type="ALPHA" length="3"/>
        <field num="41" type="ALPHA" length="8"/>
        <field num="42" type="ALPHA" length="15"/>
        <field num="43" type="ALPHA" length="40"/>
        <field num="44" type="LLVAR" length="25"/>
        <field num="45" type="LLVAR" length="76"/>
        <field num="46" type="LLLVAR" length="999"/>
        <field num="47" type="LLLVAR" length="999"/>
        <field num="48" type="LLLVAR" length="999"/>
        <field num="49" type="ALPHA" length="3"/>
        <field num="50" type="ALPHA" length="3"/>
        <field num="51" type="ALPHA" length="3"/>
        <field num="52" type="ALPHA" length="16"/>
        <field num="53" type="ALPHA" length="96"/>
        <field num="54" type="LLLVAR" length="120"/>
        <field num="55" type="LLLVAR" length="999"/>
        <field num="56" type="LLLVAR" length="999"/>
        <field num="57" type="LLLVAR" length="999"/>
        <field num="58" type="LLLVAR" length="999"/>
        <field num="59" type="LLLVAR" length="999"/>
        <field num="60" type="LLLVAR" length="999"/>
        <field num="61" type="LLLVAR" length="999"/>
        <field num="62" type="LLLVAR" length="999"/>
        <field num="63" type="LLLVAR" length="999"/>
        <field num="64" type="ALPHA" length="64"/>
        <field num="90" type="ALPHA" length="42"/>
        <field num="95" type="ALPHA" length="42"/>
        <field num="102" type="LLVAR" length="28"/>
        <field num="103" type="LLVAR" length="28"/>
        <field num="123" type="LLLVAR" length="15"/>
        <field num="128" type="ALPHA" length="64"/>
    </parse>

    <parse type="0200">
        <field num="2" type="LLVAR" length="19"/>
        <field num="3" type="ALPHA" length="6"/>
        <field num="4" type="ALPHA" length="12"/>
        <field num="5" type="ALPHA" length="12"/>
        <field num="6" type="ALPHA" length="12"/>
        <field num="7" type="ALPHA" length="10"/>
        <field num="8" type="ALPHA" length="8"/>
        <field num="9" type="ALPHA" length="8"/>
        <field num="10" type="ALPHA" length="8"/>
        <field num="11" type="ALPHA" length="6"/>
        <field num="12" type="ALPHA" length="6"/>
        <field num="13" type="ALPHA" length="4"/>
        <field num="14" type="ALPHA" length="4"/>
        <field num="15" type="ALPHA" length="6"/>
        <field num="16" type="ALPHA" length="4"/>
        <field num="17" type="ALPHA" length="4"/>
        <field num="18" type="ALPHA" length="4"/>
        <field num="19" type="ALPHA" length="3"/>
        <field num="20" type="ALPHA" length="3"/>
        <field num="21" type="ALPHA" length="3"/>
        <field num="22" type="ALPHA" length="3"/>
        <field num="23" type="ALPHA" length="3"/>
        <field num="24" type="ALPHA" length="3"/>
        <field num="25" type="ALPHA" length="2"/>
        <field num="26" type="ALPHA" length="2"/>
        <field num="27" type="ALPHA" length="1"/>
        <field num="28" type="ALPHA" length="9"/>
        <field num="29" type="ALPHA" length="9"/>
        <field num="30" type="ALPHA" length="9"/>
        <field num="31" type="ALPHA" length="9"/>
        <field num="32" type="LLVAR" length="11"/>
        <field num="33" type="LLVAR" length="11"/>
        <field num="34" type="LLVAR" length="28"/>
        <field num="35" type="LLVAR" length="37"/>
        <field num="36" type="LLLVAR" length="104"/>
        <field num="37" type="ALPHA" length="12"/>
        <field num="38" type="ALPHA" length="6"/>
        <field num="39" type="ALPHA" length="2"/>
        <field num="40" type="ALPHA" length="3"/>
        <field num="41" type="ALPHA" length="8"/>
        <field num="42" type="ALPHA" length="15"/>
        <field num="43" type="ALPHA" length="40"/>
        <field num="44" type="LLVAR" length="25"/>
        <field num="45" type="LLVAR" length="76"/>
        <field num="46" type="LLLVAR" length="999"/>
        <field num="47" type="LLLVAR" length="999"/>
        <field num="48" type="LLLVAR" length="999"/>
        <field num="49" type="ALPHA" length="3"/>
        <field num="50" type="ALPHA" length="3"/>
        <field num="51" type="ALPHA" length="3"/>
        <field num="52" type="ALPHA" length="16"/>
        <field num="53" type="ALPHA" length="96"/>
        <field num="54" type="LLLVAR" length="120"/>
        <field num="55" type="LLLVAR" length="999"/>
        <field num="56" type="LLLVAR" length="999"/>
        <field num="57" type="LLLVAR" length="999"/>
        <field num="58" type="LLLVAR" length="999"/>
        <field num="59" type="LLLVAR" />
        <field num="60" type="LLLVAR" length="999"/>
        <field num="61" type="LLLVAR" length="999"/>
        <field num="62" type="LLLVAR" length="999"/>
        <field num="63" type="LLLVAR" length="999"/>
        <field num="64" type="ALPHA" length="64"/>
        <field num="90" type="ALPHA" length="42"/>
        <field num="95" type="ALPHA" length="42"/>
        <field num="102" type="LLVAR" length="28"/>
        <field num="103" type="LLVAR" length="28"/>
        <field num="123" type="LLLVAR" length="15"/>
        <field num="128" type="ALPHA" length="64"/>
    </parse>

    <parse type="0210">
        <field num="2" type="LLVAR"/>
        <field num="3" type="NUMERIC" length="6"/>
        <field num="4" type="ALPHA" length="12"/>
        <field num="7" type="ALPHA" length="10"/>
        <field num="11" type="NUMERIC" length="6"/>
        <field num="12" type="ALPHA" length="6"/>
        <field num="13" type="ALPHA" length="4"/>
        <field num="14" type="NUMERIC" length="4"/>
        <field num="15" type="DATE4"/>
        <field num="17" type="DATE_EXP"/>
        <field num="18" type="ALPHA" length="4"/>
        <field num="22" type="ALPHA" length="3"/>
        <field num="23" type="ALPHA" length="3"/>
        <field num="25" type="ALPHA" length="2"/>
        <field num="26" type="NUMERIC" length="2"/>
        <field num="28" type="ALPHA" length="9"/>
        <field num="30" type="ALPHA" length="9"/>
        <field num="32" type="LLVAR"/>
        <field num="33" type="LLVAR"/>
        <field num="35" type="LLVAR"/>
        <field num="37" type="ALPHA" length="12"/>
        <field num="38" type="NUMERIC" length="6"/>
        <field num="39" type="NUMERIC" length="2"/>
        <field num="40" type="NUMERIC" length="3"/>
        <field num="41" type="ALPHA" length="8"/>
        <field num="42" type="ALPHA" length="15"/>
        <field num="43" type="ALPHA" length="40"/>
        <field num="48" type="LLLVAR"/>
        <field num="49" type="ALPHA" length="3"/>
        <field num="52" type="ALPHA" length="16"/>
        <field num="54" type="LLLVAR"/>
        <field num="55" type="LLLVAR"/>
        <field num="59" type="LLLVAR"/>
        <field num="60" type="LLLVAR"/>
        <field num="61" type="LLLVAR"/>
        <field num="62" type="LLLVAR" length="999"/>
        <field num="100" type="LLVAR"/>
        <field num="102" type="LLVAR"/>
        <field num="123" type="LLLVAR"/>
        <field num="124" type="LLLLVAR"/>
        <field num="128" type="ALPHA" length="64"/>
    </parse>

    <parse type = "0220">
        <field num="2" type="LLVAR" length="19" />
        <field num="3" type="ALPHA" length="6" />
        <field num="4" type="ALPHA" length="12" />
        <field num="5" type="ALPHA" length="12" />
        <field num="6" type="ALPHA" length="12" />
        <field num="7" type="ALPHA" length="10"/>
        <field num="8" type="ALPHA" length="8"/>
        <field num="9" type="ALPHA" length="8"/>
        <field num="10" type="ALPHA" length="8"/>
        <field num="11" type="ALPHA" length="6" />
        <field num="12" type="ALPHA" length="6" />
        <field num="13" type="ALPHA" length="4"/>
        <field num="14" type="ALPHA" length="4"/>
        <field num="15" type="ALPHA" length="6" />
        <field num="16" type="ALPHA" length="4"/>
        <field num="17" type="ALPHA" length="4"/>
        <field num="18" type="ALPHA" length="4"/>
        <field num="19" type="ALPHA" length="3"/>
        <field num="20" type="ALPHA" length="3"/>
        <field num="21" type="ALPHA" length="3"/>
        <field num="22" type="ALPHA" length="3"/>
        <field num="23" type="ALPHA" length="3"/>
        <field num="24" type="ALPHA" length="3"/>
        <field num="25" type="ALPHA" length="2"/>
        <field num="26" type="ALPHA" length="2"/>
        <field num="27" type="ALPHA" length="1"/>
        <field num="28" type="ALPHA" length="9"/>
        <field num="29" type="ALPHA" length="9"/>
        <field num="30" type="ALPHA" length="9"/>
        <field num="31" type="ALPHA" length="9"/>
        <field num="32" type="LLVAR" length="11"/>
        <field num="33" type="LLVAR" length="11"/>
        <field num="34" type="LLVAR" length="28"/>
        <field num="35" type="LLVAR" length="37"/>
        <field num="36" type="LLLVAR" length="104"/>
        <field num="37"  type="ALPHA" length="12" />
        <field num="38"  type="ALPHA" length="6" />
        <field num="39"  type="ALPHA" length="2" />
        <field num="40" type="ALPHA" length="3" />
        <field num="41" type="ALPHA" length="8" />
        <field num="42" type="ALPHA" length="15" />
        <field num="43" type="ALPHA" length="40" />
        <field num="44" type="LLVAR" length="25" />
        <field num="45" type="LLVAR" length="76" />
        <field num="46" type="LLLVAR" length="999" />
        <field num="47" type="LLLVAR" length="999" />
        <field num="48" type="LLLVAR" length="999" />
        <field num="49" type="ALPHA" length= "3" />
        <field num="50" type="ALPHA" length= "3" />
        <field num="51" type="ALPHA" length= "3" />
        <field num="52" type="ALPHA" length="16" />
        <field num="53" type="ALPHA" length="96" />
        <field num="54" type="LLLVAR" length="120" />
        <field num="55" type="LLLVAR" length="999" />
        <field num="56" type="LLLVAR" length="999" />
        <field num="57" type="LLLVAR" length="999" />
        <field num="58" type="LLLVAR" length="999" />
        <field num="59" type="LLLVAR" length="999" />
        <field num="60" type="LLLVAR" length="999" />
        <field num="61" type="LLLVAR" length="999" />
        <field num="62" type="LLLVAR" length="999" />
        <field num="63" type="LLLVAR" length="999" />
        <field num="64" type="ALPHA" length="64" />
        <field num="90" type="ALPHA" length="42" />
        <field num="95" type="ALPHA" length="42" />
        <field num="102" type="LLVAR" length="28" />
        <field num="103" type="LLVAR" length="28" />
        <field num="123" type="LLLVAR" length="15" />
        <field num="128" type="ALPHA" length="64" />
    </parse>

    <parse type="0230">
        <field num="2" type="LLVAR" length="19"/>
        <field num="3" type="ALPHA" length="6"/>
        <field num="4" type="ALPHA" length="12"/>
        <field num="5" type="ALPHA" length="12"/>
        <field num="6" type="ALPHA" length="12"/>
        <field num="7" type="DATE10"/>
        <field num="11" type="NUMERIC" length="6"/>
        <field num="12" type="TIME"/>
        <field num="13" type="DATE4"/>
        <field num="14" type="NUMERIC" length="4"/>
        <field num="15" type="DATE4"/>
        <field num="17" type="DATE_EXP"/>
        <field num="18" type="ALPHA" length="4"/>
        <field num="22" type="ALPHA" length="3"/>
        <field num="23" type="ALPHA" length="3"/>
        <field num="25" type="ALPHA" length="2"/>
        <field num="26" type="ALPHA" length="2"/>
        <field num="27" type="ALPHA" length="1"/>
        <field num="28" type="ALPHA" length="9"/>
        <field num="29" type="ALPHA" length="9"/>
        <field num="30" type="ALPHA" length="9"/>
        <field num="31" type="ALPHA" length="9"/>
        <field num="32" type="LLVAR" length="11"/>
        <field num="33" type="LLVAR" length="11"/>
        <field num="34" type="LLVAR" length="28"/>
        <field num="35" type="LLVAR" length="37"/>
        <field num="36" type="LLLVAR" length="104"/>
        <field num="37" type="ALPHA" length="12"/>
        <field num="38" type="ALPHA" length="6"/>
        <field num="39" type="ALPHA" length="2"/>
        <field num="40" type="ALPHA" length="3"/>
        <field num="41" type="ALPHA" length="8"/>
        <field num="42" type="ALPHA" length="15"/>
        <field num="43" type="ALPHA" length="40"/>
        <field num="44" type="LLVAR" length="25"/>
        <field num="45" type="LLVAR" length="76"/>
        <field num="46" type="LLLVAR" length="999"/>
        <field num="47" type="LLLVAR" length="999"/>
        <field num="48" type="LLLVAR" length="999"/>
        <field num="49" type="ALPHA" length="3"/>
        <field num="50" type="ALPHA" length="3"/>
        <field num="51" type="ALPHA" length="3"/>
        <field num="52" type="ALPHA" length="16"/>
        <field num="53" type="ALPHA" length="96"/>
        <field num="54" type="LLLVAR" length="120"/>
        <field num="55" type="LLLVAR" length="999"/>
        <field num="56" type="LLLVAR" length="999"/>
        <field num="57" type="LLLVAR" length="999"/>
        <field num="58" type="LLLVAR" length="999"/>
        <field num="59" type="LLLVAR" length="999"/>
        <field num="60" type="LLLVAR" length="999"/>
        <field num="61" type="LLLVAR" length="999"/>
        <field num="62" type="LLLVAR" length="999"/>
        <field num="63" type="LLLVAR" length="999"/>
        <field num="64" type="ALPHA" length="64"/>
        <field num="90" type="ALPHA" length="42"/>
        <field num="95" type="ALPHA" length="42"/>
        <field num="102" type="LLVAR" length="28"/>
        <field num="103" type="LLVAR" length="28"/>
        <field num="123" type="LLLVAR" length="15"/>
        <field num="128" type="ALPHA" length="64"/>
    </parse>

    <parse type="0420">
        <field num="2" type="LLVAR" length="19"/>
        <field num="3" type="ALPHA" length="6"/>
        <field num="4" type="ALPHA" length="12"/>
        <field num="5" type="ALPHA" length="12"/>
        <field num="6" type="ALPHA" length="12"/>
        <field num="7" type="ALPHA" length="10"/>
        <field num="8" type="ALPHA" length="8"/>
        <field num="9" type="ALPHA" length="8"/>
        <field num="10" type="ALPHA" length="8"/>
        <field num="11" type="ALPHA" length="6"/>
        <field num="12" type="ALPHA" length="6"/>
        <field num="13" type="ALPHA" length="4"/>
        <field num="14" type="ALPHA" length="4"/>
        <field num="15" type="ALPHA" length="6"/>
        <field num="16" type="ALPHA" length="4"/>
        <field num="17" type="ALPHA" length="4"/>
        <field num="18" type="ALPHA" length="4"/>
        <field num="19" type="ALPHA" length="3"/>
        <field num="20" type="ALPHA" length="3"/>
        <field num="21" type="ALPHA" length="3"/>
        <field num="22" type="ALPHA" length="3"/>
        <field num="23" type="ALPHA" length="3"/>
        <field num="24" type="ALPHA" length="3"/>
        <field num="25" type="ALPHA" length="2"/>
        <field num="26" type="ALPHA" length="2"/>
        <field num="27" type="ALPHA" length="1"/>
        <field num="28" type="ALPHA" length="9"/>
        <field num="29" type="ALPHA" length="9"/>
        <field num="30" type="ALPHA" length="9"/>
        <field num="31" type="ALPHA" length="9"/>
        <field num="32" type="LLVAR" length="11"/>
        <field num="33" type="LLVAR" length="11"/>
        <field num="34" type="LLVAR" length="28"/>
        <field num="35" type="LLVAR" length="37"/>
        <field num="36" type="LLLVAR" length="104"/>
        <field num="37" type="ALPHA" length="12"/>
        <field num="38" type="ALPHA" length="6"/>
        <field num="39" type="ALPHA" length="2"/>
        <field num="40" type="ALPHA" length="3"/>
        <field num="41" type="ALPHA" length="8"/>
        <field num="42" type="ALPHA" length="15"/>
        <field num="43" type="ALPHA" length="40"/>
        <field num="44" type="LLVAR" length="25"/>
        <field num="45" type="LLVAR" length="76"/>
        <field num="46" type="LLLVAR" length="999"/>
        <field num="47" type="LLLVAR" length="999"/>
        <field num="48" type="LLLVAR" length="999"/>
        <field num="49" type="ALPHA" length="3"/>
        <field num="50" type="ALPHA" length="3"/>
        <field num="51" type="ALPHA" length="3"/>
        <field num="52" type="ALPHA" length="16"/>
        <field num="53" type="ALPHA" length="96"/>
        <field num="54" type="LLLVAR" length="120"/>
        <field num="55" type="LLLVAR" length="999"/>
        <field num="56" type="LLLVAR" length="999"/>
        <field num="57" type="LLLVAR" length="999"/>
        <field num="58" type="LLLVAR" length="999"/>
        <field num="59" type="LLLVAR" length="999"/>
        <field num="60" type="LLLVAR" length="999"/>
        <field num="61" type="LLLVAR" length="999"/>
        <field num="62" type="LLLVAR" length="999"/>
        <field num="63" type="LLLVAR" length="999"/>
        <field num="64" type="ALPHA" length="64"/>
        <field num="90" type="ALPHA" length="42"/>
        <field num="95" type="ALPHA" length="42"/>
        <field num="102" type="LLVAR" length="28"/>
        <field num="103" type="LLVAR" length="28"/>
        <field num="123" type="LLLVAR" length="15"/>
        <field num="128" type="ALPHA" length="64"/>
    </parse>

    <parse type="0421">
        <field num="2" type="LLVAR" length="19"/>
        <field num="3" type="ALPHA" length="6"/>
        <field num="4" type="ALPHA" length="12"/>
        <field num="5" type="ALPHA" length="12"/>
        <field num="6" type="ALPHA" length="12"/>
        <field num="7" type="ALPHA" length="10"/>
        <field num="8" type="ALPHA" length="8"/>
        <field num="9" type="ALPHA" length="8"/>
        <field num="10" type="ALPHA" length="8"/>
        <field num="11" type="ALPHA" length="6"/>
        <field num="12" type="ALPHA" length="6"/>
        <field num="13" type="ALPHA" length="4"/>
        <field num="14" type="ALPHA" length="4"/>
        <field num="15" type="ALPHA" length="6"/>
        <field num="16" type="ALPHA" length="4"/>
        <field num="17" type="ALPHA" length="4"/>
        <field num="18" type="ALPHA" length="4"/>
        <field num="19" type="ALPHA" length="3"/>
        <field num="20" type="ALPHA" length="3"/>
        <field num="21" type="ALPHA" length="3"/>
        <field num="22" type="ALPHA" length="3"/>
        <field num="23" type="ALPHA" length="3"/>
        <field num="24" type="ALPHA" length="3"/>
        <field num="25" type="ALPHA" length="2"/>
        <field num="26" type="ALPHA" length="2"/>
        <field num="27" type="ALPHA" length="1"/>
        <field num="28" type="ALPHA" length="9"/>
        <field num="29" type="ALPHA" length="9"/>
        <field num="30" type="ALPHA" length="9"/>
        <field num="31" type="ALPHA" length="9"/>
        <field num="32" type="LLVAR" length="11"/>
        <field num="33" type="LLVAR" length="11"/>
        <field num="34" type="LLVAR" length="28"/>
        <field num="35" type="LLVAR" length="37"/>
        <field num="36" type="LLLVAR" length="104"/>
        <field num="37" type="ALPHA" length="12"/>
        <field num="38" type="ALPHA" length="6"/>
        <field num="39" type="ALPHA" length="2"/>
        <field num="40" type="ALPHA" length="3"/>
        <field num="41" type="ALPHA" length="8"/>
        <field num="42" type="ALPHA" length="15"/>
        <field num="43" type="ALPHA" length="40"/>
        <field num="44" type="LLVAR" length="25"/>
        <field num="45" type="LLVAR" length="76"/>
        <field num="46" type="LLLVAR" length="999"/>
        <field num="47" type="LLLVAR" length="999"/>
        <field num="48" type="LLLVAR" length="999"/>
        <field num="49" type="ALPHA" length="3"/>
        <field num="50" type="ALPHA" length="3"/>
        <field num="51" type="ALPHA" length="3"/>
        <field num="52" type="ALPHA" length="16"/>
        <field num="53" type="ALPHA" length="96"/>
        <field num="54" type="LLLVAR" length="120"/>
        <field num="55" type="LLLVAR" length="999"/>
        <field num="56" type="LLLVAR" length="999"/>
        <field num="57" type="LLLVAR" length="999"/>
        <field num="58" type="LLLVAR" length="999"/>
        <field num="59" type="LLLVAR" length="999"/>
        <field num="60" type="LLLVAR" length="999"/>
        <field num="61" type="LLLVAR" length="999"/>
        <field num="62" type="LLLVAR" length="999"/>
        <field num="63" type="LLLVAR" length="999"/>
        <field num="64" type="ALPHA" length="64"/>
        <field num="90" type="ALPHA" length="42"/>
        <field num="95" type="ALPHA" length="42"/>
        <field num="102" type="LLVAR" length="28"/>
        <field num="103" type="LLVAR" length="28"/>
        <field num="123" type="LLLVAR" length="15"/>
        <field num="128" type="ALPHA" length="64"/>
    </parse>

    <parse type="0430">
        <field num="2" type="LLVAR" length="19"/>
        <field num="3" type="ALPHA" length="6"/>
        <field num="4" type="ALPHA" length="12"/>
        <field num="5" type="ALPHA" length="12"/>
        <field num="6" type="ALPHA" length="12"/>


        <!--<field num="7" type="DATE10"/>
        <field num="11" type="NUMERIC" length="6"/>
        <field num="12" type="TIME"/>
        <field num="13" type="DATE4"/>
        <field num="14" type="NUMERIC" length="4"/>-->


        <field num="7" type="ALPHA" length="10"/>
        <field num="11" type="NUMERIC" length="6"/>
        <field num="12" type="ALPHA" length="6" />
        <field num="13" type="ALPHA" length="4"/>
        <field num="14" type="ALPHA" length="4"/>


        <field num="15" type="DATE4"/>
        <field num="17" type="DATE_EXP"/>
        <field num="18" type="ALPHA" length="4"/>
        <field num="19" type="ALPHA" length="3"/>
        <field num="20" type="ALPHA" length="3"/>
        <field num="21" type="ALPHA" length="3"/>
        <field num="22" type="ALPHA" length="3"/>
        <field num="23" type="ALPHA" length="3"/>
        <field num="24" type="ALPHA" length="3"/>
        <field num="25" type="ALPHA" length="2"/>
        <field num="26" type="ALPHA" length="2"/>
        <field num="27" type="ALPHA" length="1"/>
        <field num="28" type="ALPHA" length="9"/>
        <field num="29" type="ALPHA" length="9"/>
        <field num="30" type="ALPHA" length="9"/>
        <field num="31" type="ALPHA" length="9"/>
        <field num="32" type="LLVAR" length="11"/>
        <field num="33" type="LLVAR" length="11"/>
        <field num="34" type="LLVAR" length="28"/>
        <field num="35" type="LLVAR" length="37"/>
        <field num="36" type="LLLVAR" length="104"/>
        <field num="37" type="ALPHA" length="12"/>
        <field num="38" type="ALPHA" length="6"/>
        <field num="39" type="ALPHA" length="2"/>
        <field num="40" type="ALPHA" length="3"/>
        <field num="41" type="ALPHA" length="8"/>
        <field num="42" type="ALPHA" length="15"/>
        <field num="43" type="ALPHA" length="40"/>
        <field num="44" type="LLVAR" length="25"/>
        <field num="45" type="LLVAR" length="76"/>
        <field num="46" type="LLLVAR" length="999"/>
        <field num="47" type="LLLVAR" length="999"/>
        <field num="48" type="LLLVAR" length="999"/>
        <field num="49" type="ALPHA" length="3"/>
        <field num="50" type="ALPHA" length="3"/>
        <field num="51" type="ALPHA" length="3"/>
        <field num="52" type="ALPHA" length="16"/>
        <field num="53" type="ALPHA" length="96"/>
        <field num="54" type="LLLVAR" length="120"/>
        <field num="55" type="LLLVAR" length="999"/>
        <field num="56" type="LLLVAR" length="999"/>
        <field num="57" type="LLLVAR" length="999"/>
        <field num="58" type="LLLVAR" length="999"/>
        <field num="59" type="LLLVAR" length="999"/>
        <field num="60" type="LLLVAR" length="999"/>
        <field num="61" type="LLLVAR" length="999"/>
        <field num="62" type="LLLVAR" length="999"/>
        <field num="63" type="LLLVAR" length="999"/>
        <field num="64" type="ALPHA" length="64"/>
        <field num="90" type="ALPHA" length="42"/>
        <field num="95" type="ALPHA" length="42"/>
        <field num="102" type="LLVAR" length="28"/>
        <field num="103" type="LLVAR" length="28"/>
        <field num="123" type="LLLVAR" length="15"/>
        <field num="128" type="ALPHA" length="64"/>
    </parse>

    <parse type="0800">
        <field num="2" type="LLVAR" length="19"/>
        <field num="3" type="ALPHA" length="6"/>
        <field num="4" type="ALPHA" length="12"/>
        <field num="5" type="ALPHA" length="12"/>
        <field num="6" type="ALPHA" length="12"/>
        <field num="7" type="ALPHA" length="10"/>
        <field num="8" type="ALPHA" length="8"/>
        <field num="9" type="ALPHA" length="8"/>
        <field num="10" type="ALPHA" length="8"/>
        <field num="11" type="ALPHA" length="6"/>
        <field num="12" type="ALPHA" length="6"/>
        <field num="13" type="ALPHA" length="4"/>
        <field num="14" type="ALPHA" length="4"/>
        <field num="15" type="ALPHA" length="6"/>
        <field num="16" type="ALPHA" length="4"/>
        <field num="17" type="ALPHA" length="4"/>
        <field num="18" type="ALPHA" length="4"/>
        <field num="19" type="ALPHA" length="3"/>
        <field num="20" type="ALPHA" length="3"/>
        <field num="21" type="ALPHA" length="3"/>
        <field num="22" type="ALPHA" length="3"/>
        <field num="23" type="ALPHA" length="3"/>
        <field num="24" type="ALPHA" length="3"/>
        <field num="25" type="ALPHA" length="2"/>
        <field num="26" type="ALPHA" length="2"/>
        <field num="27" type="ALPHA" length="1"/>
        <field num="28" type="ALPHA" length="9"/>
        <field num="29" type="ALPHA" length="9"/>
        <field num="30" type="ALPHA" length="9"/>
        <field num="31" type="ALPHA" length="9"/>
        <field num="32" type="LLVAR" length="11"/>
        <field num="33" type="LLVAR" length="11"/>
        <field num="34" type="LLVAR" length="28"/>
        <field num="35" type="LLVAR" length="37"/>
        <field num="36" type="LLLVAR" length="104"/>
        <field num="37" type="ALPHA" length="12"/>
        <field num="38" type="ALPHA" length="6"/>
        <field num="39" type="ALPHA" length="2"/>
        <field num="40" type="ALPHA" length="3"/>
        <field num="41" type="ALPHA" length="8"/>
        <field num="42" type="ALPHA" length="15"/>
        <field num="43" type="ALPHA" length="40"/>
        <field num="44" type="LLVAR" length="25"/>
        <field num="45" type="LLVAR" length="76"/>
        <field num="46" type="LLLVAR" length="999"/>
        <field num="47" type="LLLVAR" length="999"/>
        <field num="48" type="LLLVAR" length="999"/>
        <field num="49" type="ALPHA" length="3"/>
        <field num="50" type="ALPHA" length="3"/>
        <field num="51" type="ALPHA" length="3"/>
        <field num="52" type="ALPHA" length="16"/>
        <field num="53" type="ALPHA" length="96"/>
        <field num="54" type="LLLVAR" length="120"/>
        <field num="55" type="LLLVAR" length="999"/>
        <field num="56" type="LLLVAR" length="999"/>
        <field num="57" type="LLLVAR" length="999"/>
        <field num="58" type="LLLVAR" length="999"/>
        <field num="59" type="LLLVAR" length="999"/>
        <field num="60" type="LLLVAR" length="999"/>
        <field num="61" type="LLLVAR" length="999"/>
        <field num="62" type="LLLVAR" length="999"/>
        <field num="63" type="LLLLVAR" length="9999"/>
        <field num="64" type="ALPHA" length="64"/>
        <field num="90" type="ALPHA" length="42"/>
        <field num="95" type="ALPHA" length="42"/>
        <field num="102" type="LLVAR" length="28"/>
        <field num="103" type="LLVAR" length="28"/>
        <field num="123" type="LLLVAR" length="15"/>
        <field num="128" type="ALPHA" length="64"/>
    </parse>

    <parse type="0810">
        <field num="2" type="LLVAR" length="19"/>
        <field num="3" type="ALPHA" length="6"/>
        <field num="4" type="ALPHA" length="12"/>
        <field num="5" type="ALPHA" length="12"/>
        <field num="6" type="ALPHA" length="12"/>
        <field num="7" type="ALPHA" length="10"/>
        <field num="8" type="ALPHA" length="8"/>
        <field num="9" type="ALPHA" length="8"/>
        <field num="10" type="ALPHA" length="8"/>
        <field num="11" type="ALPHA" length="6"/>
        <field num="12" type="ALPHA" length="6"/>
        <field num="13" type="ALPHA" length="4"/>
        <field num="14" type="ALPHA" length="4"/>
        <field num="15" type="ALPHA" length="6"/>
        <field num="16" type="ALPHA" length="4"/>
        <field num="17" type="ALPHA" length="4"/>
        <field num="18" type="ALPHA" length="4"/>
        <field num="19" type="ALPHA" length="3"/>
        <field num="20" type="ALPHA" length="3"/>
        <field num="21" type="ALPHA" length="3"/>
        <field num="22" type="ALPHA" length="3"/>
        <field num="23" type="ALPHA" length="3"/>
        <field num="24" type="ALPHA" length="3"/>
        <field num="25" type="ALPHA" length="2"/>
        <field num="26" type="ALPHA" length="2"/>
        <field num="27" type="ALPHA" length="1"/>
        <field num="28" type="ALPHA" length="9"/>
        <field num="29" type="ALPHA" length="9"/>
        <field num="30" type="ALPHA" length="9"/>
        <field num="31" type="ALPHA" length="9"/>
        <field num="32" type="LLVAR" length="11"/>
        <field num="33" type="LLVAR" length="11"/>
        <field num="34" type="LLVAR" length="28"/>
        <field num="35" type="LLVAR" length="37"/>
        <field num="36" type="LLLVAR" length="104"/>
        <field num="37" type="ALPHA" length="12"/>
        <field num="38" type="ALPHA" length="6"/>
        <field num="39" type="ALPHA" length="2"/>
        <field num="40" type="ALPHA" length="3"/>
        <field num="41" type="ALPHA" length="8"/>
        <field num="42" type="ALPHA" length="15"/>
        <field num="43" type="ALPHA" length="40"/>
        <field num="44" type="LLVAR" length="25"/>
        <field num="45" type="LLVAR" length="76"/>
        <field num="46" type="LLLVAR" length="999"/>
        <field num="47" type="LLLVAR" length="999"/>
        <field num="48" type="LLLVAR" length="999"/>
        <field num="49" type="ALPHA" length="3"/>
        <field num="50" type="ALPHA" length="3"/>
        <field num="51" type="ALPHA" length="3"/>
        <field num="52" type="ALPHA" length="16"/>
        <field num="53" type="ALPHA" length="96"/>
        <field num="54" type="LLLVAR" length="120"/>
        <field num="55" type="LLLVAR" length="999"/>
        <field num="56" type="LLLVAR" length="999"/>
        <field num="57" type="LLLVAR" length="999"/>
        <field num="58" type="LLLVAR" length="999"/>
        <field num="59" type="LLLVAR" length="999"/>
        <field num="60" type="LLLVAR" length="999"/>
        <field num="61" type="LLLVAR" length="999"/>
        <field num="62" type="LLLVAR" length="999"/>
        <field num="63" type="LLLLVAR" length="9999"/>
        <field num="64" type="ALPHA" length="64"/>
        <field num="90" type="ALPHA" length="42"/>
        <field num="95" type="ALPHA" length="42"/>
        <field num="102" type="LLVAR" length="28"/>
        <field num="103" type="LLVAR" length="28"/>
        <field num="123" type="LLLVAR" length="15"/>
        <field num="128" type="ALPHA" length="64"/>
    </parse>

    <parse type="0900">
        <field num="3" type="ALPHA" length="6"/>
        <field num="7" type="DATE10" length="10"/>
        <field num="11" type="NUMERIC" length="6"/>
        <field num="12" type="TIME" length="6"/>
        <field num="13" type="DATE4" length="4"/>
        <field num="39" type="NUMERIC" length="2"/>
        <field num="41" type="ALPHA" length="8"/>
        <field num="60" type="LLLVAR" length="999"/>
        <field num="62" type="LLLVAR"/>
        <field num="63" type="LLLLVAR"/>
        <field num="64" type="ALPHA" length="64"/>
    </parse>

    <parse type="0910">
        <field num="3" type="ALPHA" length="6"/>
        <field num="7" type="DATE10" length="10"/>
        <field num="11" type="NUMERIC" length="6"/>
        <field num="12" type="TIME" length="6"/>
        <field num="13" type="DATE4" length="4"/>
        <field num="39" type="NUMERIC" length="2"/>
        <field num="41" type="ALPHA" length="8"/>
        <field num="60" type="LLLVAR" length="999"/>
        <field num="62" type="LLLVAR"/>
        <field num="63" type="LLLLVAR"/>
        <field num="64" type="ALPHA" length="64"/>
    </parse>

</j8583-config> 


